.colorblue{
    text-align: right;
    font-weight: bolder;
    color: aqua;
}

.hovercolor{
    font-weight: bolder;
    color: crimson;
}

.mouseoutcolor{
    color: green;
}

.square{
    width: 200px;
    height: 200px;
    border: solid 2px gray;
}