body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('./images/sak.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
}

.app {
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #222;
}

.stock {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.in {
  color: lightgreen;
}

.out {
  color: pink;
}